<a href="https://colab.research.google.com/github/nazaninzareirad/computational_data_mining_2025/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Dataset Preparation

1.1 loading SECOM dataset

In [6]:
import pandas as pd

# load the SECOM dataset (data part)
secom_data = pd.read_csv('/content/secom.data', header=None, sep=" ")

# display the first few rows of the dataset
secom_data.head()

num_features = secom_data.shape[1] # Get the number of columns from the DataFrame
column_names = [f'feature_{i}' for i in range(num_features)]

# set the columns in the dataframe
secom_data.columns = column_names

# display the columns
secom_data.columns

# load the labels (target) from the secom_labels.data file
secom_labels = pd.read_csv('/content/secom_labels.data', header=None)

# add the labels as the target column
secom_data['target'] = secom_labels

# display the first few rows with the target column
secom_data.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_581,feature_582,feature_583,feature_584,feature_585,feature_586,feature_587,feature_588,feature_589,target
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,"-1 ""19/07/2008 11:55:00"""
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,"-1 ""19/07/2008 12:32:00"""
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,"1 ""19/07/2008 13:17:00"""
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,"-1 ""19/07/2008 14:43:00"""
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,"-1 ""19/07/2008 15:22:00"""

In [9]:
# first, process the 'target' column to extract the numerical label
secom_data['target'] = secom_data['target'].apply(lambda x: int(str(x).split(' ')[0]))

# separate features (X) and target (y)
X = secom_data.drop(columns='target')
y = secom_data['target']

# replace missing values with the median of each feature column
X.fillna(X.median(), inplace=True)

#standardizing data
from sklearn.preprocessing import StandardScaler

# standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)